version: 2
updates:
  # Fetch and update latest `github-actions` pkgs
  - package-ecosystem: github-actions
    directory: "/"
    labels:
      - "automated pr"
    schedule:
      interval: daily
      time: "00:00"
      timezone: "Europe/Stockholm"
    open-pull-requests-limit: 10
    reviewers:
      - simonhyll
    assignees:
      - simonhyll
    commit-message:
      prefix: fix
      prefix-development: dev
      include: scope
