name: Reminders

on:
  schedule:
    - "0 0 * * *"
  push:
    branches:
      - main

permissions:
  issues: write
  repository-projects: read
  contents: read

jobs:
  todos:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run reminders
        uses: simonhyll/reminders@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          